
.mainForm {
    -fx-background-color: #3742fa;
}


.text-field {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-text-fill: #3b3b3b;
    -fx-padding: 5px 5px;
    -fx-font-size: 14px;
}


.button {
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(to bottom, #1e90ff, #3742fa);
    -fx-pref-width: 100px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffff;
    -fx-font-size: 15px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0.3, 0, 2);
    -fx-transition: all 0.3s ease;
}

.button:hover {
    -fx-opacity: 0.9;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button:pressed {
    -fx-opacity: 0.7;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}


.table-view {
    -fx-background-color: white;
    -fx-border-color: #1e90ff;
    -fx-border-radius: 8px;
    -fx-padding: 5px;
}

.table-view .column-header {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to bottom, #1e90ff, #3742fa);
    -fx-font-weight: bold;

}

.button .del-btn{
    -fx-background-color: linear-gradient(to bottom, #780000, #c1121f);
}